
 link[rel="icon"] {
      width: 120%;
    }

body {
  font-family:'Times New Roman', Times, Arial;
  font-size:30px;
    margin: 0;
    padding: 0;
   
    background-color: #c9b5a3;
  }

header {
  text-align: center;
}

header img {
  width: 100%;
  border-bottom:5px solid white;
}

nav ul {
  list-style-type: none;
  padding: 30px;
}
aside {
  
  border-top:5px solid #96795f;
  border-bottom:5px solid #96795f;
  border-left:5px solid #96795f;
  float: right;
  width: 15%;
font-size:35px;
  padding: 20px;
  margin-top:400px;
  background-color:#d6bfa9;
  height:300px;
  border-radius: 15px;
  padding-top:150px;
  
}

main {

padding-left:500px;
  padding: 20px;
  margin: 100px;
  border-radius: 15px;
  
  
}
main img{
    height:1000px;
 
  border-radius: 15px;
  border:5px solid white;

}
.Imagen_adicional{
margin-left:700px;
margin-bottom: 300PX;
}

main p{
    font-family:'Times New Roman', Times, Arial;

  padding-left:650px;
  font-weight: bold;
  font-size: 25px;
    text-transform: uppercase;
}
footer{
  border-top:5px solid white;
background-color: #96795f; 
color: white;
padding: 20px;
display: right;
align-items: center;
text-align:center;
margin-left:-150px;
}


.social-icons img {
display:inline-block;
position:relative;
  width: 60px;
  margin: 0 5px;
}


#boton {
  padding-top:25px;
  display: inline;
 align-content:center;
  width:150px;
  padding: 10px 60px; 
margin-top:60px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

#boton:hover {
  background-color: #c9b5a3;
}
.contenedor-imagen {
  position: relative;
  display: block;
  width:40px;
}

.contenedor-imagen::after {
  content: attr(data-tooltip);
  position: relative;
  left:360px;
  top:-360px;
  padding: 5px;
  background-color: white;
  color: black;
border:1px solid black;  font-size: 25px;
  white-space: nowrap;
  opacity:0;
  transition: opacity 0.3s ease;
}

.contenedor-imagen:hover::after {
  opacity: 1;
}

.drop{
  width:fit-content;
  height:fit-content;
  padding:20%;

}