  body {
            font-family:  'Grandstander', cursive, 'Times New Roman', Times, serif, sans-serif;
            color:grey;
            margin: 0;
            padding: 0;
            background-color:black;
        }
   
.name{
    margin-top: -10%;
    margin-bottom: 10%;
}
        main{
display:block;
float:center;
margin:1%;
margin-left: 30%;
margin-right: 30%;
padding:5%;
background-color: rgb(219, 211, 213);

        }

  
      .section-title{
    color:rgb(58, 58, 58);
text-transform: uppercase;
font-weight: bold;
font-size:30px;
}
.bullet-title{
    color:rgb(156, 155, 155);
    text-transform: uppercase;
font-weight: bold;

.container{
    margin-top: 5%;
}
}
.name{
    color:black;
    font-size: 40PX;
}

.name{
    text-align:center;

}
